.banner-text.booking_ul_new {
	width: 90%;
	background: rgb(255 255 255 / 68%);
}.banner-text {
	position: absolute;
	bottom: 20px;
	width: 98%;
	text-align: center;
	z-index: 999;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}.banner-text .col-md-12 {
	padding: 0px;
}